<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>CodingFilter</filter-name>
    <filter-class>filter.CodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>GetProblemServlet</servlet-name>
    <servlet-class>servlet.GetProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProblemServlet</servlet-name>
    <url-pattern>/GetProblemServlet</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>addProblemServlet</servlet-name>
        <servlet-class>servlet.addProblemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>addProblemServlet</servlet-name>
      <url-pattern>/addProblemServlet</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>
